.add-review-form {
  max-width: 600px;
  margin: auto;
}

.form-group {
  margin-bottom: 1rem;
}

.rating-group {
  display: flex;
  align-items: center;
}

.rating-group label {
  margin-right: 0.5rem;
}

button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.reviewed-icon {
  width: 35px; /* 根据需要调整宽度 */
  height: auto; /* 让高度自动调整 */
}
