
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .profile-header img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .profile-header h2 {
        margin: 0;
        font-size: 24px;
    }

.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

    .profile-item span {
        font-weight: bold;
    }

    .profile-item a {
        margin-left: 10px;
        color: #007bff;
        cursor: pointer;
        text-decoration: none;
    }

        .profile-item a:hover {
            text-decoration: underline;
        }

    .profile-item input {
        width: 60%;
        padding: 5px;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }

    .profile-item button {
        margin-left: 5px;
        padding: 5px 10px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

        .profile-item button:hover {
            background-color: #0056b3;
        }

.order-list {
    width: 1000px;;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fontcolor {
    color: gray;
}

.order-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

    .order-item h2 {
        margin: 0 0 10px;
    }

    .order-item p {
        margin: 5px 0;
    }

    .order-item button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

        .order-item button:hover {
            background-color: #0056b3;
        }
