.sidebar {
  width: 400px;
  background-color: #ffd699; /* 橘色調的背景 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* 增加頭像和名稱之間的距離 */
}

.profile h2 {
  margin-bottom: 20px; /* 增加名稱和按鈕之間的距離 */
  font-size: 1.5em;
  color: #333;
}

.profile button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #ffaa80; /* 橘色 */
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile button:hover {
  background-color: #e6956e; /* 深橘色 */
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu {
  margin-top: 20px;
}

.menu h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333; /* 深灰色 */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  color: #333; /* 深灰色 */
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
}

.menu li:hover {
  color: #222; /* 深色 */
  background-color: #f5f5f5; /* 淺灰色背景 */
}
