.sidebar {
  width: 300px;
  background-color: #ffcc80; /* 淺橘色背景 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: auto; /* 允許高度自適應內容 */
}

.sidebar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 500%;
  height: 0px; /* 根據需要調整高度 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  pointer-events: none;
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile img {
  display: block;
  margin: 0 auto 15px; /* 圖片底部間距 */
}

.profile-name {
  margin-bottom: 15px; /* 使用者名稱底部間距 */
  font-size: 1.2em;
  font-weight: bold;
}

.profile button {
  margin-top: 15px; /* 按鈕頂部間距 */
  padding: 5px 10px;
  border: none;
  background-color: #ffa726; /* 橘色背景 */
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.profile button:hover {
  background-color: #ff9800; /* 深橘色 */
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* 確保圖片以合適的比例填滿容器 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu {
  margin-top: 30px; /* 調整與頭像區域的距離 */
}

.menu h3 {
  margin-bottom: 20px; /* 增加標題與列表項目之間的間距 */
  font-size: 1.2em;
  color: #555; /* 淺灰色文字 */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 20px 0; /* 增加上下間距 */
  padding: 10px;
  cursor: pointer;
  color: #555; /* 淺灰色文字 */
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
  font-weight: 700;
}

.menu li:hover {
  color: #fff; /* 白色文字 */
  background-color: #ffa726; /* 橘色背景 */
}

.menu-icon {
  width: 30px; /* 根據需要調整圖標大小 */
  height: 30px;
  margin-right: 8px; /* 根據需要調整圖標與文本之間的間距 */
  vertical-align: middle; /* 保持圖標與文本垂直對齊 */
}
