
.member-center {
    display: flex;
    max-width: 1335px;
    margin: auto;
    padding: 20px;
    position: relative; /* 确保内容相对定位 */
}



.content {
    flex: 1;
    margin-left: 30px; /* 確保內容不會覆蓋 Sidebar */
    transition: all 0.3s ease; /* 添加過渡效果 */
    min-height: 600px; /* 設置最小高度以防止縮小 */
}


.member-center h1 {
    text-align: center;
    margin-bottom: 20px;
}


.member-actions button:hover {
    background-color: #03080d;
}


.member-center {
    display: flex;
}

.sidebar {
    width: 200px;
    position: fixed;
}

