.search-page {
  width: 1366px;
  max-width: 1366px;
  margin: 0 auto;
  padding: 20px;
}

.search-header {
  position: relative;
  height: 200px; /* 你认为合适的高度 */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.search-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 添加半透明黑色背景 */
  z-index: 1;
}

.search-header .header-content {
  position: relative;
  z-index: 2;
  padding: 20px;
  border-radius: 10px;
}

.search-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.search-header p {
  margin: 10px 0 0;
  font-size: 1.25rem;
}

.search-content {
  display: flex;
  margin-top: 20px;
}

.filter-sidebar {
  width: 250px;
  padding: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.filter-sidebar .filter-category {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.filter-sidebar .clear-filters {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  margin-bottom: 20px;
}

.filter-sidebar .filter-group h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.filter-sidebar .filter-group label {
  display: block;
  margin-bottom: 5px;
}

.filter-sidebar .filter-group input {
  margin-right: 5px;
}

.search-results-wrapper {
  flex: 1;
  margin-left: 20px;
  width: calc(100% - 270px); /* 动态调整宽度 */
}

.search-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-controls span {
  font-size: 1rem;
}

.search-controls .search-sort select {
  padding: 5px 10px;
  font-size: 1rem;
}

.search-results-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
}

.search-results-parent {
  width: 100%;
}

.no-results {
  font-size: 1.25rem;
  color: #555;
  text-align: center;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 1055px;
}
