/* src/componentsJSX/Booking.module.css */
.pageContainer {
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 20px;
}

.leftContainer {
  flex: 2;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.rightContainer {
  flex: 1;
  padding: 20px;
  margin-left: 20px;
  height: 445px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionTitle {
  font-size: 1.5rem;
  color: #ff5722;
  margin-bottom: 10px;
}

.sectionSubtitle {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 10px;
}

.addButton {
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.infoFields, .bookingDetails {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.fieldGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  font-size: 1rem;
  color: #333;
  flex-basis: 30%;
}

.input {
  font-size: 1rem;
  color: #555;
  padding: 10px;
  flex-basis: 65%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.bookingItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.bookingImage {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 20px;
}

.bookingDescription {
  font-size: 1rem;
  color: #555;
}

.confirmationSection {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.confirmationText {
  font-size: 0.875rem;
  color: #333;
  margin-bottom: 10px;
}

.warningMessage {
  background-color: #fff8e1;
  border: 1px solid #ffd700;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.875rem;
  color: #d32f2f;
  margin-bottom: 10px;
}

.finalNote {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 20px;
}

.submitButton {
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.summaryBlock, .pricingBlock {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.summaryTitle {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
}

.finalPrice {
  font-size: 1.5rem;
  color: #ff5722;
  margin-top: 10px;
}

.totalSavings {
  font-size: 1rem;
  color: #666;
  margin-top: 5px;
}
