/* ProductBundleBlock.css */

.product-bundle-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  background-color: transparent; /* 背景顏色設置為灰白色 */
  padding: 20px;
  border-radius: 5px;
}

.product-bundle-container {
  display: flex;
  flex-wrap: wrap; /* 使用換行佈局 */
  gap: 10px;
}

.product-bundle {
  background-color: #fff; /* 卡片背景顏色設置為白色 */
  border: 2px solid #ff6828; /* 卡片邊框顏色設置為暗橘色 */
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative; /* 為了讓按鈕相對定位 */
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out,
    transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  flex: 1;
  min-width: calc(33.33% - 10px); /* 使卡片寬度佔三分之一 */
  box-sizing: border-box; /* 包括內邊距和邊框在內 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-bundle.selected {
  border-color: #f96e12; /* 選中卡片邊框顏色設置為橘色 */
  color: #f96e12; /* 選中卡片字體顏色設置為橘色 */
  background-color: #fff2e5; /* 選中卡片背景顏色設置為淡橘色 */
}

.bundle-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bundle-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: center; /* 文字居中 */
}

.bundle-price {
  font-size: 1rem;
  text-align: center; /* 文字居中 */
}

.bundle-description {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 10px;
  text-align: center; /* 文字居中 */
}

.choose-button {
  background-color: transparent; /* 透明背景 */
  color: inherit; /* 繼承字體顏色 */
  border: none;
  cursor: pointer;
}

.quantity-selector {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.quantity-selector p {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #000000;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-button {
  background-color: #fa8130;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.quantity-button:hover {
  background-color: #cc5200;
}

.quantity {
  font-size: 1.1rem;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  min-width: 30px;
  text-align: center;
}

.bundle-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.small-book-now-button,
.small-add-to-cart-button {
  background-color: #fa8130;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.small-book-now-button:hover,
.small-add-to-cart-button:hover {
  background-color: #cc5200;
}

.bundle-details {
  margin-top: 20px;
  background-color: #fff; /* 背景顏色設置為白色 */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bundle-details h4 {
  color: #ff6600;
}

.bundle-details p {
  color: #333;
}
