.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 1070px;
}

.search-results .search-result-item {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px; /* 确保每行4个卡牌 */
}

.search-results .search-result-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.search-results .result-details {
  padding: 15px;
}

.search-results .result-details h3 {
  margin: 0 0 10px;
  font-size: 1.25rem;
  color: #333;
}

.search-results .result-details p {
  margin: 0 0 10px;
  font-size: 1rem;
  color: #555;
}

.search-results .result-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-results .result-meta .price {
  font-size: 1.25rem;
  color: #ff5722;
}

.search-results .result-meta .rating {
  background: #ffd700;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 1rem;
  color: white;
}

.search-results .search-result-item {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(41, 37, 37, 0.1);
  overflow: hidden;
  width: 250px; /* Ensure each row fits 4 cards */
  cursor: pointer; /* Changes the cursor to a pointer */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
}

.search-results .search-result-item:hover {
  transform: translateY(-5px); /* Moves the card up slightly */
  box-shadow: 0 4px 20px rgba(251, 110, 50, 0.379); /* Increases shadow to create a floating effect */
}
